<div class="field">
  <div class="control has-icons-left">
    <span data-numpad-target="amount" class="input is-large">$0.00</span>
    <span class="icon is-medium is-left">
      <i class="fa-solid fa-dollar-sign"></i>
    </span>
  </div>
</div>
