<div class="fixed-grid has-2-cols">
  <div class="grid">
    <% @budgets.each do |budget| %>
      <div class="cell">
        <button class="button is-light is-fullwidth" style="justify-content: flex-start;"
                data-action="numpad#budgetPress"
                data-budget-id="<%= budget.id %>">
          <span class="icon mr-2">
            <i class="<%= budget.icon %>"></i>
          </span>
          <span><%= budget.name %></span>
        </button>
      </div>
    <% end %>
  </div>
</div>
