<nav class="level is-mobile">
  <div class="level-left">
    <%= link_to prev_link do %>
      <i class="title is-4 fa-solid fa-arrow-left-long"></i>
    <% end %>
  </div>

  <div class="level-item has-text-centered">
    <h1 class="title is-4"><%= link_to @date.strftime("%B %Y"), date_budgets_path(date: @date) %></h1>
  </div>

  <div class="level-right">
    <%= link_to next_link do %>
      <i class="title is-4 fa-solid fa-arrow-right-long"></i>
    <% end %>
  </div>
</nav>
