<div class="flex flex-row mt-4">
  <%= link_to prev_link, class: "flex-initial p-4" do %>
    <i class="fa-solid fa-arrow-left-long"></i>
  <% end %>

  <h1 class="text-3xl flex-auto text-center my-auto"><%= link_to @month.strftime("%B %Y"), date_budgets_path(@month) %></h1>

  <%= link_to next_link, class: "flex-initial p-4" do %>
    <i class="fa-solid fa-arrow-right-long"></i>
  <% end %>
</div>
