<!-- Numeric Keypad -->
<div class="fixed-grid has-3-cols" data-numpad-target="numpad">
  <div class="grid">
    <button class="button" data-action="numpad#numPress" data-value="1">1</button>
    <button class="button" data-action="numpad#numPress" data-value="2">2</button>
    <button class="button" data-action="numpad#numPress" data-value="3">3</button>
    <button class="button" data-action="numpad#numPress" data-value="4">4</button>
    <button class="button" data-action="numpad#numPress" data-value="5">5</button>
    <button class="button" data-action="numpad#numPress" data-value="6">6</button>
    <button class="button" data-action="numpad#numPress" data-value="7">7</button>
    <button class="button" data-action="numpad#numPress" data-value="8">8</button>
    <button class="button" data-action="numpad#numPress" data-value="9">9</button>
    <button class="button" data-action="numpad#numPress" data-value="CLR">CLR</button>
    <button class="button" data-action="numpad#numPress" data-value="0">0</button>
    <button class="button" data-action="numpad#numPress" data-value="DEL"><i class="fa-solid fa-delete-left"></i></button>
  </div>
</div>
