<div class="flex flex-row mt-4">
  <button class="flex-initial p-4">
    <i class="fa-solid fa-arrow-left-long"></i>
  </button>

  <h1 class="text-3xl flex-auto text-center my-auto">December 2023</h1>

  <button class="flex-initial p-4">
    <i class="fa-solid fa-arrow-right-long"></i>
  </button>
</div>

<!-- Input Display -->
<div class="bg-gray-200 rounded p-2 text-center mb-4 mt-4">
  <span class="text-2xl font-semibold dark:text-slate-700">$0.00</span>
</div>

<!-- Budget Buttons -->
<div class="grow mb-4">
  <div class="flex flex-wrap gap-2">
    <!-- Budget button 1 -->
    <div class="flex bg-gray-100 p-2 rounded-lg shadow-md">
      <div class="flex items-center space-x-2">
        <div class="bg-green-500 p-1 rounded-sm text-slate-200">
          <i class="fa-solid fa-house"></i>
        </div>
        <span class="text-lg">Home</span>
      </div>
      <div class="ml-2">
        <span class="text-2xl">$156</span>
      </div>
    </div>

    <!-- Budget button 2 -->
    <div class="flex bg-gray-100 p-2 rounded-lg shadow-md">
      <div class="flex items-center space-x-2">
        <div class="bg-green-500 p-1 rounded-sm text-slate-200">
          <i class="fa-solid fa-gas-pump"></i>
        </div>
        <span class="text-lg">Gas</span>
      </div>
      <div class="ml-2">
        <span class="text-2xl">$89</span>
      </div>
    </div>

    <!-- Budget button 3 -->
    <div class="flex bg-gray-100 p-2 rounded-lg shadow-md">
      <div class="flex items-center space-x-2">
        <div class="bg-green-500 p-1 rounded-sm text-slate-200">
          <i class="fa-solid fa-volleyball"></i>
        </div>
        <span class="text-lg">Fun family stuff</span>
      </div>
      <div class="ml-2">
        <span class="text-2xl">$315</span>
      </div>
    </div>
  </div>
</div>

<!-- Numeric Keypad -->
<div class="grid grid-cols-3 gap-4 mb-4">
  <button class="bg-gray-300 rounded p-4 text-xl dark:text-slate-700">1</button>
  <button class="bg-gray-300 rounded p-4 text-xl dark:text-slate-700">2</button>
  <button class="bg-gray-300 rounded p-4 text-xl dark:text-slate-700">3</button>
  <button class="bg-gray-300 rounded p-4 text-xl dark:text-slate-700">4</button>
  <button class="bg-gray-300 rounded p-4 text-xl dark:text-slate-700">5</button>
  <button class="bg-gray-300 rounded p-4 text-xl dark:text-slate-700">6</button>
  <button class="bg-gray-300 rounded p-4 text-xl dark:text-slate-700">7</button>
  <button class="bg-gray-300 rounded p-4 text-xl dark:text-slate-700">8</button>
  <button class="bg-gray-300 rounded p-4 text-xl dark:text-slate-700">9</button>
  <button class="p-4 text-xl"></button>
  <button class="bg-gray-300 rounded p-4 text-xl dark:text-slate-700">0</button>
  <button class="p-4 text-xl"></button>
</div>
