<h1>Welcome to HOBO!</h1>

<p>Highly opinionated budget organizer</p>

<p>
  <% if Current.user %>
    <%= link_to "Logout", session_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to "Login", session_path %>
  <% end %>
</p>
