/* Global element styles */
body {
  touch-action: manipulation;
}

.is-full-height {
  min-height: 100vh;
}

/* Application custom styles */

.clipboard-button {
  display: none;
}

.clipboard--supported .clipboard-button {
  display: initial;
}

/* Login page styles */

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}
