<div class="flex flex-row mt-4">
  <button class="flex-initial p-4">
    <i class="fa-solid fa-arrow-left-long"></i>
  </button>

  <h1 class="text-3xl flex-auto text-center my-auto">December 2023</h1>

  <button class="flex-initial p-4">
    <i class="fa-solid fa-arrow-right-long"></i>
  </button>
</div>
